@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 20px;
}

body {
    padding: 40px;
    background-color: #222;
}

.info-block {
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-bottom: 20px;
}

.info-block .title {
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.info-block .content {
    font-size: 1.2rem;
}

.info-block--piece .content {
    display: grid;
    grid-template-columns: repeat(4, 20px);
    grid-template-rows: repeat(2, 20px);
    grid-gap: 3px;
}

.left-lines {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.6);
}

.center-panel {
    margin: 0 20px;
    text-align: center;
    position: relative;
}

.info-block p {
    margin: 0;
}

.tetris-cont {
    justify-content: center;
    display: flex;
}

.tetris-wall {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
    grid-gap: 3px;
    background-color: rgba(0, 0, 0, 0.1);
}

.tetris-wall--game-over .brick {
    opacity: 0.2;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: red;
    z-index: 1;
}
